.account {
	text-align: center;
}

.account-greeting {
	display: block;
	margin: auto;
	height: 80px;
	width: 600px;
}

.account-greeting h2 {
	float: left;
}

.account-greeting h3 {
	float: right;
}

.account-details {
	width: 450px;
	height: 120px;
	margin: auto;
	margin-top: 15px;
	border-style: solid;
	border-size: 3px;
	border-color: black;
	border-radius: 13px;
	box-shadow: 5px 5px 5px #888888;
}

.left {
	float: left;
	width: 225px;
}
.right {
	float: right;
	width: 225px;
}